@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #100c03;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
    --color-primary-gold: #D4AF37;
  --color-primary-gold-dark: #B8860B;
  --color-primary-gold-light: #F4D160;
  --color-primary-brown:#100c03
   

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 
.topheadersupporttext{
  display: flex;
    gap: 5px;
    align-items: center;
}
 .topheadersupporttext svg{color: #d4af37;}
 .sitelogo{width:90px;}
 .mobilemenu{border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;}

 @media only screen and (max-width:600px){
  .topheadersupporttext{display: none;}
  .servicecard{padding-top: 30px !important;}
 }

 /* History scrollbar */
.history-scroll {
  scrollbar-width: thin;
  scrollbar-color: #6b5518 #181208;
}

/* Chrome, Edge, Safari */
.history-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.history-scroll::-webkit-scrollbar-track {
  background: #181208;
  border-radius: 10px;
}

.history-scroll::-webkit-scrollbar-thumb {
  background: #6b5518;
  border-radius: 10px;
}

.history-scroll::-webkit-scrollbar-thumb:hover {
  background: #d4af37;
}

.history-horizontal-scroll {
  scrollbar-width: thin;
  scrollbar-color: #D4AF37 #171006;
}

.history-horizontal-scroll::-webkit-scrollbar {
  height: 6px;
}

.history-horizontal-scroll::-webkit-scrollbar-track {
  background: #171006;
  border-radius: 10px;
}

.history-horizontal-scroll::-webkit-scrollbar-thumb {
  background: #D4AF37;
  border-radius: 10px;
}

.history-horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background: #e5c24a;
}